{% extends 'layout.html' %}

{% block pageTitle %}
  Check answers - passing data from page to page
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link">Choose if the information from your GP record is shared for purposes other than your individual care</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">Back to Health A to Z</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        Check your details
      </h1>

      <dl class="nhsuk-summary-list">
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/version-b/wizard/passing-data-question-name">
              Change<span class="nhsuk-u-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['example-day'] }} {{ data['example-month'] }} {{ data['example-year'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/version-b/wizard/passing-data-question-dob">
              Change<span class="nhsuk-u-visually-hidden"> data of birth</span>
            </a>
          </dd>        
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nhsnumber'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/version-b/wizard/passing-data-question-nhs-number">
              Change<span class="nhsuk-u-visually-hidden"> conditions</span>
            </a>
          </dd>
        </div>
        
      </dl>
      <p>
        By continuing you agree to let us use your details to:
      </p>
      <ul>
        <li>check who you are</li>
        <li>find your contact details from your health records so we can send you a security code</li>
      </ul>

      <a href="/version-b/wizard/passing-data-get-security-code" class="nhsuk-button">Agree and submit</a>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/docs",
        "label": "Home"
      },
      {
        "URL": "/version-a/wizard/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/docs/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS.UK prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}
