{% extends 'layout.html' %}

{% block pageTitle %}
  Apps
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      text: "Environments",
      href: "/"
    },
    {
      text: "Apps",
      href: "/landing-page-app"
    },
    {
      text: "Configuration",
      href: "/pconfig/landing-page-config"
    }
  ],
  href: "/pconfig/app-search",
  text: "Apps"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Type 1 Opt-Out
      </h1>

      <form action="/examples/passing-data/passing-data-question-dob" method="post" autocomplete="off">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="nhs-number">
              App ID
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="nhs-number" name="nhs-number" value="{{ data['nhs-number'] }}" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              Title
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="first-name" name="first-name" value="{{ data['xfirst-name'] }}" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="last-name">
              Description
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="last-name" name="last-name" value="{{ data['last-name'] }}" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="last-name">
              URL
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="last-name" name="last-name" value="{{ data['last-name'] }}" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="landing-page">
              Landing page
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="last-name" name="last-name" value="/" type="text">
          </div>

          {{ select({
            "id": "select-1",
            "name": "select-1",
            "label": {
              "text": "Authentication method"
            },
            "items": [
              {
                "value": 0,
                "text": "NHS Login Level P0"
              },
              {
                "value": 5,
                "text": "NHS Login Level P5",
                "selected": true
              },
              {
                "value": 9,
                "text": "NHS Login Level P9",
                "disabled": false
              }
            ]
          }) }}
          
          {{ checkboxes({
            "idPrefix": "example",
            "name": "example",
            
            "items": [
              {
                "value": "delegation",
                "text": "Allow submissions on behalf of someone else"
              }
            ]
          }) }}

          {{ select({
            "id": "select-1",
            "name": "select-1",
            "label": {
              "text": "Include Steps, Pages and Actions from:"
            },
            "items": [
              {
                "value": 2,
                "text": "National Data Opt-Out",
                "selected": true
              },
              {
                "value": 3,
                "text": "Organ Donation Opt-Out",
                "selected": false
              },
              {
                "value": 4,
                "text": "COVID-19 Vaccine Communication Opt Out",
                "disabled": false
              }
            ]
          }) }}

        </fieldset>

        {{ button({
          "text": "Deploy To Test",
          "classes": "nhsuk-button--secondary"
        }) }}
        </br>

        <a class="nhsuk-button">Save</a>
        <a class="nhsuk-button" href="/pconfig/app-search">Return to Search</a>
        <a class="nhsuk-button">Previous</a>
        <a class="nhsuk-button">Next</a>
      </form>

    </div>
  </div>
{% endblock %}

