{% extends 'layout.html' %}

{% block pageTitle %}
  Wizards
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      text: "Environments",
      href: "/"
    },
    {
      text: "Apps",
      href: "/landing-page-apps"
    },
    {
      text: "Configuration",
      href: "/pconfig/landing-page-config"
    }
  ],
  href: "/pconfig/app-search",
  text: "Apps"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Wizards
      </h1>
      <p>Enter any information you have and click Search. To list all values, leave fields blank.</p>

      <form action="/pconfig/wizard-edit" method="post" autocomplete="off">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="nhs-number">
              App ID
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-quarter" id="nhs-number" name="nhs-number" value="" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              Wizard ID
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-quarter" id="first-name" name="first-name" value="" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              Description
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="first-name" name="first-name" value="" type="text">
          </div>
        </fieldset>
        <button class="nhsuk-button" href="/pconfig/wizard-edit" id="wizard-edit">Search</button>
        <a class="nhsuk-button" href="/pconfig/wizard-edit">Clear</a>
        <button class="nhsuk-button">Add New</button>
      </form>

      {{ table({
        responsive: true,
        panel: false,
        caption: "",
        firstCellIsHeader: false,
        head: [
          {
            text: "App ID"
          },
          {
            text: "Wizard ID"
          },
          {
            text: "Description"
          }
        ],
        rows: [
          [
            {
              header: "App ID",
              text: "001"
            },
            {
              header: "Wizard ID",
              text: "T1MAIN"
            },
            {
              header: "Description",
              text: "Type 1 Opt-Out"
            }
          ],
          [
            {
              header: "App ID",
              text: "001"
            },
            {
              header: "Wizard ID",
              text: "T1SURV"
            },
            {
              header: "Description",
              text: "Follow-up survey"
            }
          ]
        ]
      }) }}
    </div>
  </div>
{% endblock %}

