{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Type 1: your Opt-out choice
{% endblock %}

{% block content %}
<form>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-top-4">
        Your GP data opt-out choice
      </h1>

      <p class="nhsuk-body-l">
        You do allow the information from your GP record to be shared for purposes other than your individual care. <a href="/version-b/type-1-content/overview">Check what this means for you (Page opens in new window)</a>.</p>
  
        <dl class="nhsuk-summary-list">
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Status
            </dt>
            <dd class="nhsuk-summary-list__value">
              Opted-in by default
            </dd>

        </dl>


      <a class="nhsuk-button" href="/version-b/type1-question" class="button">Change</a>

    </div>
  </div>

</form>
{% endblock %}
