{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Your choice - Types of data-sharing you can opt out
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-top-4">
        Your Opt-out choice
      </h1>

      <p class="nhsuk-body-l">
        Choose whether or not your data is used for research and planning. These are the different types of data-sharing you can opt out of:
      </p>

      <div class="nhsuk-u-padding-bottom-9"></div>

      <h2>
        Type 1 Opt-out
      </h2>

      <p>
        You do not allow the use of your GP data to support vital health and care planning and research. <a href="https://service-manual.nhs.uk/design-system/componnets">Check what this means for you (Page opens in new window)</a>.
      </p>

      <dl class="nhsuk-summary-list">
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Status
          </dt>
          <dd class="nhsuk-summary-list__value">
            Opted-in
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of the request
          </dt>
          <dd class="nhsuk-summary-list__value">
            21 April 2022
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Requester
          </dt>
          <dd class="nhsuk-summary-list__value">
            GP Practise
          </dd>

        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Channel
          </dt>
          <dd class="nhsuk-summary-list__value">
            NHS.uk website
          </dd>

        </div>
        
      </dl>


      <a class="nhsuk-button" href="/type1-question" class="button">Change</a>

      <p>
        <a href="https://service-manual.nhs.uk/design-system/componnets">Don't remember requesting this?</a>
      </p>

      <div class="nhsuk-u-padding-bottom-9"></div>

      <h2>
        National Data Opt-Out
      </h2>

      <p>
        You allow the use of your confidential patient information for research and planning. <a href="https://service-manual.nhs.uk/design-system/componnets">Check what this means for you (Page opens in new window)</a>.
      </p>

        <dl class="nhsuk-summary-list">
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Status
            </dt>
            <dd class="nhsuk-summary-list__value">
              Opted-out
            </dd>
  
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of the request
            </dt>
            <dd class="nhsuk-summary-list__value">
              15 March 2022
            </dd>
  
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Requester
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['first-name'] }} {{ data['last-name'] }}
            </dd>
  
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Channel
            </dt>
            <dd class="nhsuk-summary-list__value">
              NHS.uk website
            </dd>
  
          </div>
          
        </dl>

      <a class="nhsuk-button" href="https://www.nhs.uk/your-nhs-data-matters/" class="button">Change</a>

      <p><a href="https://service-manual.nhs.uk/design-system/componnets">Don't remember requesting this?</a></p>
      
      
    </div>
  </div>
{% endblock %}
