{% extends 'layout.html' %}

{% block pageTitle %}
Type 1 Opt-out service: your choice has been confirmed
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      Your choice has been saved
    </h1>
    
    <p>Your choice of 'NOT allowing the use of your GP data to be shared outside your GP practice for purposes other than individual care’ has been saved.</p>
    
    <p><a href="check-your-status-opt1-result-no">You can review your choice</a> and update it at any time using this service.</p> 

    <p>To review or update your National Data Opt Out choice please <a href="https://www.nhs.uk/your-nhs-data-matters/">access the correct service</a>.</p>

    <div class="nhsuk-u-padding-bottom-9"></div>

    <h2>
      More information
    </h2>

    <p>
    <a href="#">Visit our privacy notice</a> for more information on how and when your choice will be applied.
    </p>

    <p class="nhsuk-card__description"><a href="passing-data-question-contact">If you want to change the method you receive your confirmation click here.</a></p>    

    </div>
  </div>
{% endblock %}
