{% extends 'layout.html' %}

{% block pageTitle %}
Type 1 Opt-out service: your request has been received
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      Type 1 Opt-out service: your request has been received
    </h1>
    
    <p>Your choice of 'NOT allowing your personally identifiable patient data to be shared outside your GP practice for purposes except your own care to support health and care planning and research' has been received and sent to your GP practise.</p>
    
    <p><a href="check-your-status-opt1-result-no">You can review your choice</a> and update it at any time using this service.</p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <h2>
        What happens next
      </h2>
  
      <p>
        Please note that it usually takes 24 hours to update your preferences in our system. You will get a confirmation as soon as your choice has been updated using your preferred method. 
      </p>

    </div>

    <a class="nhsuk-button" href="/check-your-status-opt1-result-no" class="button">Go back to 'Your Opt-out choice'</a>

    <p class="nhsuk-card__description"><a href="passing-data-question-contact">If you want to change the method you receive your confirmation click here.</a></p>    

    <div class="nhsuk-u-padding-bottom-9"></div>

    <h2>
      More information
    </h2>

    <p>
    <a href="#">Visit our privacy notice</a> for more information on how and when your choice will be applied.
    </p>

    </div>
  </div>
{% endblock %}
