{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out - Environments
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Environments"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Environments
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/landing-page-apps",
            text: "Local"
          },
          {
            href: "https://type1-opt-out-develop.herokuapp.com",
            text: "Development"
          },
          {
            href: "https://type1-opt-out-release-1.herokuapp.com",
            text: "Release 1.0 (stable)"
          },
          {
            href: "https://type1-opt-out.herokuapp.com",
            text: "Production"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
