{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Environments
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/landing-page-prototype",
            text: "Prototype"
          },
          {
            href: "/frontend_index.html",
            text: "Development"
          },
          {
            href: "/landing-page-release-1",
            text: "Release 1.0 (stable)"
          },
          {
            href: "/landing-page-prod",
            text: "Production"
          },
          {
            href: "/config/landing-page-config",
            text: "Configuration"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
