{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Environments
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/landing-page-prototype",
            text: "Prototype"
          },
          {
            href: "/landing-page-dev",
            text: "Development"
          },
          {
            href: "/landing-page-test",
            text: "Test"
          },
          {
            href: "/landing-page-prod",
            text: "Production"
          },
          {
            href: "/landing-page-test-data",
            text: "Test Data"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
