{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Test Data
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/landing-page-patients",
            text: "Patients"
          },
          {
            href: "/landing-page-practices",
            text: "Practices"
          },
          {
            href: "/landing-page-system-suppliers",
            text: "System Suppliers"
          },
          {
            href: "/index",
            text: "Environments"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
