{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out - Apps
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      text: "Environments",
      href: "/"
    }
  ],
  text: "Apps",
  href: "/landing-page-apps"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Apps
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/landing-page-prototype",
            text: "Prototype"
          },
          {
            href: "/frontend/index.html",
            text: "Type 1 Opt-Out React App"
          },
          {
            href: "/config/index.html",
            text: "Configuration"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
