{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out - Configuration
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      text: "Home",
      href: "/"
    }
  ],
  text: "Configuration",
  href: "/landing-page-config"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Configuration
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/landing-page-config-app",
            text: "Application"
          },
          {
            href: "/landing-page-config-content",
            text: "Content"
          },
          {
            href: "/config/test-data",
            text: "Test Data"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
