{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Type 1: your Opt-out choice
{% endblock %}

{% block content %}
<form>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-top-4">
        Your GP data opt-out choice
      </h1>

      <p class="nhsuk-body-l">
        You do allow the use of your GP data to support vital health and care planning and research. <a href="https://service-manual.nhs.uk/design-system/componnets">Check what this means for you (Page opens in new window)</a>.</p>
  
        <dl class="nhsuk-summary-list">
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Status
            </dt>
            <dd class="nhsuk-summary-list__value">
              Opted-in
            </dd>
  
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of the request
            </dt>
            <dd class="nhsuk-summary-list__value">
              21 April 2022
            </dd>
  
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Requester
            </dt>
            <dd class="nhsuk-summary-list__value">
              Default choice
            </dd>
  
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Channel
            </dt>
            <dd class="nhsuk-summary-list__value">
              NHS.uk website
            </dd>
  
          </div>

        </dl>


      <a class="nhsuk-button" href="/type1-question" class="button">Change</a>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What does 'Default choice' mean?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>By default your confidential patient information is used for research and planning. You can choose to stop it by clicking on the button 'Change'.</p>      
        </div>
      </details>

    </div>
  </div>

</form>
{% endblock %}
