{% extends 'layout.html' %}

{% block pageTitle %}
  Type 1 Opt-Out
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Type 1 Opt-Out
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Environments
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/prototype-index",
            text: "Prototype"
          },
          {
            href: "/dev-index",
            text: "Development"
          },
          {
            href: "/test-index",
            text: "Test"
          },
          {
            href: "/prod-index",
            text: "Production"
          },
          {
            href: "/data-index",
            text: "Test Data"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
