{% extends 'layout.html' %}

{% block pageTitle %}
  What is your name? - Passing data example
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link">Choose if your GP medical records are shared for research and planning</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">Back to Health A to Z</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/version-a/wizard/passing-data-check-answers" method="post" autocomplete="off">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Enter your NHS number
            </h1>
          </legend>
          <div class="nhsuk-hint nhsuk-u-margin-bottom-2" for="nhsnumber">
            This is a 10 digit number, like 485 777 3456.
          </div>
          <div class="nhsuk-form-group">
            <input class="nhsuk-input nhsuk-input--width-10" id="nhsnumber" name="nhsnumber" type="text" aria-describedby="nhsnumber" inputmode="numeric">
          </div>
        </fieldset>
        <button class="nhsuk-button">Continue</button>
      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/docs",
        "label": "Home"
      },
      {
        "URL": "/version-a/wizard/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/docs/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS.UK prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}
