{% extends 'layout.html' %}

{% block pageTitle %}
  NHS number - Passing data example
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link">Choose if your GP medical records are shared for research and planning</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">Back to Health A to Z</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/version-a/wizard/passing-data-question-nhs-number" method="post" class="form" autocomplete="off">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you know your NHS number?
            </h1>
          </legend>
          <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
            This is a 10 digit number, like 485 777 3456.
          </div>
        
          <div class="nhsuk-hint">
            You can find it on any letter the NHS has sent you, on a prescription or by logging in to a GP practice online service.
          </div>
          
          <div class="nhsuk-form-group">

            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-yes" name="example-hints" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-yes">
                  Yes, I know my NHS number
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-no" name="example-hints" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-no">
                  No, I do not know my NHS number
                </label>
              </div>

            </div>
          </div>
        </fieldset>
        <button type="submit" class="nhsuk-button">Continue</button>
      </form>
      <div class="nhsuk-back-link">
        <a href="/version-a/wizard/passing-data-question-name" class="nhsuk-back-link__link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Change my previous answer</a>
      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/docs",
        "label": "Home"
      },
      {
        "URL": "/version-a/wizard/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/docs/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS.UK prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}
